.xxl {
  padding: 3rem 0;
  // background-color: purple;
}

.xl {
  padding: 2rem 0;
  // background-color: violet;
}

.lg {
  padding: 1rem 0;
  // background-color: magenta;
}

.md {
  padding: 0.85rem 0;
  // background-color: pink;
}

.sm {
  padding: 0.5rem 0;
  // background-color: lightpink;
}

.xs {
  padding: 0.3rem 0;
}
