.link {
  display: flex;
  column-gap: 2px;
  margin-bottom: 15px;

  svg {
    margin-left: 5px;
    transition: transform 50ms linear;
  }
}

.link:hover {
  svg {
    transform: translate(2px, -2px);
  }
}
