header {
  display: flex;
  justify-content: space-between;
}

body {
  padding-left: 15px;
}

nav {
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
    padding: 0;
  }
  .sitemap > li {
    margin-bottom: 20px;
  }

  .socials > li {
    margin-bottom: 15px;
  }
}
