:root {
  --heading-large: 2rem;
  --heading-medium: 1.75rem;
  --heading-small: 1.35rem;

  --subheading-large: 1.3rem;
  --subheading-medium: 1.15rem;
  --subheading-small: 1.05rem;

  --paragraph-large: 1.05rem;
  --paragraph-medium: 1rem;
  --paragraph-small: 0.85rem;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  display: grid;
  grid-template-columns: 45% 55%;
  column-gap: 5px;
}

.socials {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 0;
  gap: 0.15rem;
}
