.link {
  position: relative;
  color: black;
  text-decoration: none;
  padding-left: 25px;
}

.arrow {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.link:hover {
  .arrow {
    transform: rotateX(180deg);
  }

  color: rgba(0, 0, 0, 0.704);
}
